<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project</title>
    <%- include('partition/dependency') %>
    <%- include('templates/create_section_dialog') %>
    <link rel="stylesheet" href=<%= cdn("style/project.css") %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents">
        <div class="config">
            <button class="button" v-on:click='show_create_section'>Add Section</button>
        </div>
        <ul class="section-list">
            <li class="section-item" v-for="(todo_list, name) in sections">
                <div class="title">{{ name }}</div>
                <div class="new-todo">
                    <img src=<%= cdn("image/plus.png") %> />
                </div>
                <ul class="todo-list">
                    <li class="todo-item" v-for="todo in todo_list">
                        <div class="title">{{ todo.title }}</div>
                        <div class="desc">{{ todo.description }}</div>
                        <div class="responsibility">
                            <img class="thumb" src=<%= cdn("image/tyrion.png") %> />
                            <div class="member-desc">
                                <div class="name">{{ todo.owner }}</div>
                                <!-- <div class="desc">{{ todo.owner.desc }}</div> -->
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <create_section v-if="show_create_section_dialog" @close="show_create_section_dialog=false"
            v-bind:title='create_params.title' v-on:ok="create_section" />
    </div>
    <script src=<%= cdn("js/project.js") %>></script>
</body>

</html>