<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project</title>
    <%- include('partition/dependency') %>
    <link rel="stylesheet" href=<%= cdn("style/project.css") %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents">
        <div class="config">
            <button class="button" v-show='mine' v-on:click='show_create_section'>Add Section</button>
        </div>
        <ul class="section-list">
            <li class="section-item" v-for="section in sections" v-bind:section_id='section.id'>
                <div class="title">{{ section.name }}</div>
                <div class="new-todo" v-on:click='show_create_todo(section.id)'>
                    <img src=<%= cdn("image/plus.png") %> />
                </div>
                <ul class="todo-list">
                    <li class="todo-item" v-for="todo in section.todo_list">
                        <div class="title">
                            <div>{{ todo.title }}</div>
                            <img v-show='todo.mine' src=<%= cdn("image/recycle_bin.png") %> />
                        </div>
                        <div class="desc">{{ todo.description }}</div>
                        <div class="responsibility">
                            <img class="thumb" src=<%= cdn("image/tyrion.png") %> />
                            <div class="member-desc">
                                <div class="name">{{ todo.owner }}</div>
                                <!-- <div class="desc">{{ todo.owner.desc }}</div> -->
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- <create_todo v-if="show_create_todo_dialog" @close="show_create_todo_dialog=false" v-on:ok="create_section" /> -->
        <!-- <create_section v-if="show_create_section_dialog" @close="show_create_section_dialog=false"
            v-bind:title='create_params.title' v-on:ok="create_section" /> -->
    </div>
    <script src=<%= cdn("js/project.js") %>></script>
</body>

</html>