<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Members</title>
    <%- include('partition/dependency') %>
    <link rel="stylesheet" href=<%= cdn("style/team.settings.css") %>>
</head>

<body>
    <div id="modal-1" class="dialog" aria-hidden="true">
        <div class="background" tabindex="-1" data-micromodal-close>
            <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="caption">
                    <div id="modal-1-title" class="title">Confirm</div>
                </div>
                <div id="modal-1-content" class="contents">
                    <div>Are you sure you want to delete this fie?</div>
                    <div>You can't undo this action.</div>
                    <div class="buttons">
                        <button class="no" data-micromodal-close>NO</button>
                        <button class="yes">YES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partition/header') %>
    <div id="contents">
        <div class="team-header">
            <div class="team-header-contents">
                <img class="team-icon" src=<%= cdn("image/tyrion.png") %> />
                <div class="team-detail">
                    <div class="team-name">{{ team.name }}</div>
                    <span class="team-desc">{{ team.desc }}</span>
                </div>
            </div>
        </div>
        <div class="team-contents">
            <div class="tab-navi">
                <ul class="tab-navi-list">
                    <li class="tab-navi-item" v-bind:active="page=='members'" v-on:click="tab('members')">
                        Members</li>
                    <li class="tab-navi-item" v-bind:active="page=='sections'" v-on:click="tab('sections')">
                        Sections</li>
                </ul>
            </div>
            <div class="containers">
                <div class="member-container" v-show='page == "members"'>
                    <div class="member-group">
                        <div class="title">Lorem ipsum</div>
                        <div class="desc">Lorem ipsum dolor sit amet</div>
                        <ul class="member-list">
                            <li class="member-item" data-aos="fade-up" v-for="member in members">
                                <img class="member-icon" src=<%= cdn("image/tyrion.png") %> />
                                <div class="member-detail">
                                    <div class="name">{{ member.name }}</div>
                                    <div class="email">{{ member.email }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-container" v-show='page == "sections"'>
                    <ul class="section-list">
                        <li class="section-item" data-aos="fade-up" v-for="section in sections">
                            <div class="name">{{ section.name }}</div>
                            <div class="desc">{{ section.desc }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button data-custom-open='modal-1'>open</button>
    <script src=<%= cdn("js/team.settings.js") %>></script>
</body>

</html>