<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Settings</title>
    <%- include('partition/dependency') %>
    <%- include('templates/confirm_dialog') %>
    <link rel="stylesheet" href=<%= cdn("style/project.settings.css") %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents">
        <div class="project-header">
            <div class="project-header-contents">
                <img class="project-icon" src=<%= cdn("image/tyrion.png") %> />
                <div class="project-detail">
                    <div class="project-name">{{ project.name }}</div>
                    <span class="project-desc">{{ project.desc }}</span>
                </div>
            </div>
        </div>
        <div class="project-contents">
            <div class="tab-navi">
                <ul class="tab-navi-list">
                    <li class="tab-navi-item" v-bind:active="role=='members'" v-on:click="tab('members')">
                        Members</li>
                    <li class="tab-navi-item" v-bind:active="role=='sections'" v-on:click="tab('sections')">
                        Sections</li>
                </ul>
            </div>
            <div class="containers">
                <div class="member-container" v-show='role == "members"'>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <div class="title">Lorem ipsum</div>
                            <div class="desc">Lorem ipsum dolor sit amet</div>
                        </div>
                        <div class="button">Invite</div>
                    </div>
                    <ul class="member-list">
                        <li class="member-item" data-aos="fade-up" v-for="member in members">
                            <div style="display: flex; justify-content: space-between;">
                                <div style="display: flex;">
                                    <img class="member-icon" src=<%= cdn("image/tyrion.png") %> />
                                    <div class="member-detail">
                                        <div class="name">{{ member.name }}</div>
                                        <div class="email">{{ member.email }}</div>
                                    </div>
                                </div>
                                <div>
                                    <img class="icon" v-on:click="remove_member(member)"
                                        src=<%= cdn("image/recycle_bin.png") %> />
                                    <img class="icon" v-on:click="remove_member(member)"
                                        src=<%= cdn("image/recycle_bin.png") %> />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section-container" v-show='role == "sections"'>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="title">Sections</div>
                        <div class="button">Create</div>
                    </div>
                    <ul class="section-list">
                        <li class="section-item" data-aos="fade-up" v-for="section in sections">
                            <div class="section-contents">
                                <div>
                                    <div class="name">{{ section.name }}</div>
                                    <div class="desc">{{ section.desc }}</div>
                                </div>
                                <div>
                                    <img class="icon" v-on:click="remove_section(section)"
                                        src=<%= cdn("image/recycle_bin.png") %> />
                                    <img class="icon" v-on:click="remove_section(section)"
                                        src=<%= cdn("image/recycle_bin.png") %> />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <confirm v-bind:role='role' v-bind:dest='dest' v-if="showModal" @close="showModal=false" v-on:ok="on_success" />
    </div>
    <script src=<%= cdn("js/project.settings.js") %>></script>
</body>

</html>